@model Topic

@{
    ViewData["Title"] = "Create Topic";
}
<h1>@ViewData["Title"]</h1>

<p>Topic creation page.</p>

<form asp-controller="Home" asp-action="PostTopic" method="post" class="form-horizontal">
    Name: <textarea asp-for="Name"></textarea>
    SubforumId: <textarea asp-for="SubforumId"></textarea>
    <input type="submit" value="Post" />
</form>