@model Message

@{
    ViewData["Title"] = "DesktopThread1";
}
<h1>@ViewData["Title"]</h1>

<p>DesktopThread1 page.</p>

<form asp-controller="Home" asp-action="PostMessage" method="post" class="form-horizontal">
    <textarea asp-for="Content"></textarea>
    <input type="submit" value="Post" />
</form>