@model ThreadDisplay

@{
    ViewData["Title"] = "DesktopThread1";
}
<h1>@ViewData["Title"]</h1>

<p>DesktopThread1 page.</p>

<ul>
    @foreach (var message in Model.Messages)
     {
        <li>@message.Id, @message.Content</li>
     }
</ul>

<div>
    @Html.Partial("_Message", Model.NewMessage)
</div>