@{
    ViewData["Title"] = "Desktops";
}
<h1>@ViewData["Title"]</h1>

<p>Desktops Topic.</p>
<p><a asp-area="" asp-controller="Home" asp-action="DesktopThread1">DesktopThread1</a></p>
<p><a asp-area="" asp-controller="Home" asp-action="DesktopThread2">DesktopThread2</a></p>