@{
    ViewData["Title"] = "DesktopThread1";
}
<h1>@ViewData["Title"]</h1>

<p>DesktopThread1 page.</p>

<form asp-controller="Home" asp-action="PostMessage" method="post" class="form-horizontal">
    <input type="text" />
</form>