@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Computers</h3>
    <p><a asp-area="" asp-controller="Home" asp-action="Desktops">Desktops</a></p>
    <p><a asp-area="" asp-controller="Home" asp-action="Monitors_GPUs">Monitors/GPUs</a></p>

    <h3>Mobile</h3>
    <p><a asp-area="" asp-controller="Home" asp-action="Mobile_Carriers">Mobile Carriers</a></p>
    <p><a asp-area="" asp-controller="Home" asp-action="Wireless_ISPs">Wireless ISPs</a></p>

</div>
