@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>Computers</h3>
    <p>Desktops</p>
    <p>Monitors/GPUs</p>

    <h3>Mobile</h3>
    <p>Mobile Carriers</p>
    <p>Wireless ISPs</p>
</div>
