@model HomeDisplay

@{
    ViewData["Title"] = "Home Page";
}



@if (Model.Subforums.Any())
{
    @foreach (var subforum in Model.Subforums)
    {
        <h2>Subforum: @subforum.Id, @subforum.Name</h2>

        <ul>
            @foreach (var topic in Model.Topics.Where(x => x.SubforumId == subforum.Id))
            {
                <li><a asp-controller="Home" asp-action="Topic" asp-route-id="@topic.Id">@topic.Name</a></li>
            }
        </ul>
    }
}
else
{
    <p>No subforums to display.</p>
}