@{
    ViewData["Title"] = "Mobile Carriers";
}
<h1>@ViewData["Title"]</h1>

<p>Mobile Carriers Topic.</p>
<p><a asp-area="" asp-controller="Home" asp-action="Mobile_CarriersThread1">Mobile_CarriersThread1</a></p>
<p><a asp-area="" asp-controller="Home" asp-action="Mobile_CarriersThread2">Mobile_CarriersThread2</a></p>