@{
    ViewData["Title"] = "Monitors/GPUs";
}
<h1>@ViewData["Title"]</h1>

<p>Monitors/GPUs Topic.</p>
<p><a asp-area="" asp-controller="Home" asp-action="Monitors_GPUsThread1">Monitors_GPUsThread1</a></p>
<p><a asp-area="" asp-controller="Home" asp-action="Monitors_GPUsThread2">Monitors_GPUsThread2</a></p>