@{
    ViewData["Title"] = "Wireless ISPs";
}
<h1>@ViewData["Title"]</h1>

<p>Wireless ISPs Topic.</p>
<p><a asp-area="" asp-controller="Home" asp-action="Wireless_ISPsThread1">Wireless_ISPsThread1</a></p>
<p><a asp-area="" asp-controller="Home" asp-action="Wireless_ISPsThread2">Wireless_ISPsThread2</a></p>
